.Profile_Payment_body{
    height: 50vh;
    width: 100%;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Profile_Payment_box{
    min-width: 100px;
    min-height: 410px;
    height: 35%;
    width: 57%;
    margin-top: 1%;
}
.Profile_Payment_top{
    height: 10%;
    width: 100%;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 36px;
    color: #581ADB;
}
.Profile_Payment_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    width: 100%;
    margin-top: 1%;
}
.Profile_Payment_profile{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.Profile_Payment_user{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    border: 1px solid #DDDDDD;
    border-radius: 13px;
}
.Profile_Payment_user_data{
    height: 99%;
    width: 100%;
}
.Profile_Payment_text_for_user{
    display: flex;
    align-items: center;
    padding-left: 1%;
    height: 100%;
    width: 35%;
    border: 1px solid #DDDDDD;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    border-radius: 13px;
}
.Profile_Payment_inputs{
    height: 55%;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 13px;
}
.Profile_Payment_inputs_content{
    margin-top: 1%;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
}
.Profile_Payment_input_box{
    height: 20%;
    width: 100%;
}
.Profile_Payment_input_line{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.Profile_Payment_input{
    height: 100%;
    width: 70%;
    border: 1px solid #DDDDDD;
    border-radius: 64px;
    font-size: 16px;
    font-family: "Nunito Sans";
    font-weight: 400;
    color: #717171;
    padding-left: 5%;
}
.Profile_Payment_date{
    height: 100%;
    width: 30%;
    border: 1px solid #DDDDDD;
    border-radius: 64px;
    font-size: 16px;
    font-family: "Nunito Sans";
    font-weight: 400;
    color: #717171;
    padding-left: 5%;
}
.Profile_Payment_bottom_text{
    height: 18%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Nunito Sans";
    font-weight: 400;
    color: #717171;
    margin-left: 2%;
}
.Profile_Payment_save_button{
    height: 70%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #581ADB;
    color: white;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 16px;
    border-radius: 60px;
    cursor: pointer;
}
.Profile_Payment_input_text{
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 16px;
    color: #717171;
}
.Profile_Payment_text{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 36px;
    color: #717171;
}