.SafeWithUs_body{
    min-height: 250px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 3% auto;
    padding: 0 5%;
    box-sizing: border-box;
}
.SafeWithUs_top{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #717171;
    margin: 0;
}
.SafeWithUs_content{
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.SafeWithUs_box{
    min-height: 200px;
    flex: 1 1 0%;
    min-width: 180px;
    max-width: 280px;
    border: 1px solid #DDDDDD;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}