.Finale_Page_body{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    min-height: 600px;
    min-width: 1650px;
}
.Finale_Page_content{
    height: 100%;
    width: 50%;
    margin-left: 15%;
}
.Finale_Page_text_box{
    height: 70%;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 13px;
}
.Finale_Page_text_box_top{
    height: 10%;
    width: 99%;
    color: black;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 24px;
    margin-left: 1%;
    margin-top: 1%;
}
.Finale_Page_text_box_second_top{
    height: 20%;
    width: 99%;
    margin-left: 1%;
    margin-top: 1%;
}
.Finale_Page_text_box_second_top_name{
    height: 45%;
    width: 100%;
    color: #717171;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 20px;
    overflow: hidden;
}
.Finale_Page_text_box_second_top_success{
    height: 45%;
    width: 100%;
    color: #581ADB;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 24px;
}
.Finale_Page_text_box_content{
    height: 50%;
    width: 99%;
    margin-left: 1%;
    margin-top: 1%;
}
.Finale_Page_text_box_content_line{
    width: 99%;
    height: 20%;
    display: flex;
    align-items: center;
    color: #717171;
    margin-left: 1%;
}
.Finale_Page_info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
}
.Finale_Page_central_part{
    height: 100%;
    width: 50%;
}
.Finale_Page_central_part_stars{
    height: 30%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #581ADB;
    font-size: 18px;
}
.Finale_Page_central_part_name{
    height: 30%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #581ADB;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 36px;
    overflow: hidden;
}
.Finale_Page_central_part_phone{
    height: 30%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 16px;
}
.Finale_Page_btn_box{
    height: 7%;
    width: 3%;
    border: 1px solid #DDDDDD;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.Finale_Page_btn{
    height: 100%;
    width: 100%;
    border-radius: 60px;
}
.Finale_Page_btn:hover{
   background-color: #DDDDDD;
}
.Finale_Page_route{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Finale_Page_text_box_btn{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Finale_Page_PDF_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 60px;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #581ADB;
}
.Finale_Page_PDF_btn img{
    margin-left: 3%;
}
.Finale_Page_text{
    background-color: white;
    border: none;
    color: #581ADB;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 16px;
}
.Finale_Page_content_text{
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
}
.Finale_Page_link {
    color: #581ADB;
}