.BeOurRegular_body{
    min-height: 250px;
    min-width: 800px;
    height: 15vh;
    width: 99.7%;
    margin-bottom: 3%;
}
.BeOurRegular_top{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    height: 15%;
    width: 100%;
    font-family: 'Nunito Sans';
    font-style:normal;
    font-weight: 400;
    font-size: 21px;
    color: #717171;
   
}
.BeOurRegular_content{
    height: 85%;
    width: 99.7%;
    display: flex;
}
.BeOurRegular_imgbox{
    min-height: 200px;
    height: 100%;
    width: 23%;
    border-radius: 13%;
    margin-left: 1%;
}
.BeOurRegular_img{
    height: 100%;
    width: 100%;
}
.BeOurRegular_textbox{
     font-family: 'Nunito Sans';
    font-style:normal;
    font-weight: 400;
    font-size: 17px;
    color: #717171;
    margin: 0;
    min-height: 200px;
    height: 100%;
    width: 72%;
    border: 1px solid #DDDDDD;
    border-radius: 13px;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BeOurRegular_text{
 margin-left: 3%;
}