*
{
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}
#root,.app_wrapper
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main_content
{
    flex: 1;
}
